:root {
  --font-jp: 'Noto Sans JP', sans-serif;
  --font-en: 'Readex Pro', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-jp);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
}

/* 共通クラス */
.is-reverse {
  flex-direction: row-reverse;
}

.is-bold {
  font-weight: bold;
}

.section-inner {
  max-width: calc(1190px + 40px * 2);
  padding: 60px 40px;
  margin: 0 auto;
}

.section-title {
  position: relative;
  width: fit-content;

  span {
    position: relative;
    display: block;
    width: fit-content;
    background: #fff;
    padding: 16px 24px;
    border: 2px solid #000;
    font-family: var(--font-en);
    font-size: 40px;
    font-weight: 600;
    z-index: 2;
  }

  &::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    height: 100%;
    border-bottom: 4px dotted #000;
    border-right: 4px dotted #000;
    z-index: 1;
  }
}

/* 各スタイル */

.wrapper {
  background: url(../img/bg.jpg) center center / contain;
  /* overflow: hidden; */
}

/* fv */
.fv-inner {
  max-width: calc(1190px + 40px * 2);
  padding: 40px;
  margin: 0 auto;
}

/* profile */
.profile-center {
  position: relative;
  padding: 120px 0;
  text-align: center;

  img {
    width: 260px;
    height: 260px;
    margin: 0 auto;
  }

  h3 {
    font-size: 36px;
    margin-top: 4px;
  }
}

.profile-layer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.profile-tags {
  position: relative;
  width: 100%;
  height: 100%;
}

.profile-tag {
  position: absolute;
  top: 50%;
  width: fit-content;
  padding: 12px 24px;
  border: 4px solid #212121;
  border-radius: 14px;
  background: #fff;
  font-family: var(--font-en);
  font-size: 32px;
  font-weight: 600;
  /* box-shadow: 2px 2px ; */
}

.profile-tag:nth-child(1) {
  left: 50%;
  transform: translate(calc(-50% - 270px), calc(-50% - 180px));
}

.profile-tag:nth-child(2) {
  left: 50%;
  transform: translate(calc(-50% - 350px), calc(-50% - 60px));
}

.profile-tag:nth-child(3) {
  left: 50%;
  transform: translate(calc(-50% - 380px), calc(-50% - -60px));
}

.profile-tag:nth-child(4) {
  left: 50%;
  transform: translate(calc(-50% - 370px), calc(-50% - -190px));
}

.profile-tag:nth-child(5) {
  left: 50%;
  transform: translate(calc(-50% - -280px), calc(-50% - 150px));
}

.profile-tag:nth-child(6) {
  left: 50%;
  transform: translate(calc(-50% - -350px), calc(-50% - 30px));
}

.profile-tag:nth-child(7) {
  left: 50%;
  transform: translate(calc(-50% - -440px), calc(-80% - -110px));
}

.profile-tag:nth-child(8) {
  left: 50%;
  transform: translate(calc(-50% - -390px), calc(-50% - -210px));
}

/* history */
.history-content {
  position: relative;
  padding: 30px 0;
  margin-top: 90px;
}

.history-line {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 100%;
  border-radius: 100px;
  background: #dcbbac;
}

.history-card-line {
  width: 6px;
  height: 128px;
  border-radius: 100px;
}

.history-card-row:nth-child(1) .history-card-line {
  background: #f6a0b4;
}

.history-card-row:nth-child(2) .history-card-line {
  background: #3875ee;
}

.history-card-row:nth-child(3) .history-card-line {
  background: #ffd960;
}

.history-card-row:nth-child(4) .history-card-line {
  background: #7cbbee;
}

.history-card-row:nth-child(5) .history-card-line {
  background: #ba5e55;
}

.history-card-row:nth-child(6) .history-card-line {
  background: #d76bff;
}

.history-card-row:nth-child(7) .history-card-line {
  background: #6cd26e;
}

.history-card-row:nth-child(8) .history-card-line {
  background: #ff9749;
}

.history-card-row:nth-child(9) .history-card-line {
  background: #ed2f25;
}

.history-cards {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
  z-index: 1;
}

.history-card-row {
  position: relative;
  display: flex;
  gap: 120px;
}

.history-card-column {
  position: relative;
  display: flex;
  gap: 24px;
  width: 100%;
  padding: 20px 24px;
  border: 3px solid #724320;
  border-radius: 14px;
  background: #fff;

  &::before {
    position: absolute;
    top: 0;
    right: 20px;
    font-family: var(--font-en);
    font-size: 64px;
    z-index: 1;
  }

  &::after {
    content: '';
    position: absolute;
    top: 2px;
    right: -6px;
    width: 100%;
    height: 103%;
    border-radius: 14px;
    background: #724320;
    z-index: -1;
  }
}

.history-card-row:nth-child(1) .history-card-column::before {
  content: '01';
  color: rgba(246, 160, 180, 0.3);
}

.history-card-row:nth-child(2) .history-card-column::before {
  content: '02';
  color: rgba(56, 117, 238, 0.3);
}

.history-card-row:nth-child(3) .history-card-column::before {
  content: '03';
  color: rgba(255, 217, 96, 0.3);
}

.history-card-row:nth-child(4) .history-card-column::before {
  content: '04';
  color: rgba(124, 187, 238, 0.3);
}

.history-card-row:nth-child(5) .history-card-column::before {
  content: '05';
  color: rgba(186, 94, 85, 0.3);
}

.history-card-row:nth-child(6) .history-card-column::before {
  content: '06';
  color: rgba(215, 107, 255, 0.3);
}

.history-card-row:nth-child(7) .history-card-column::before {
  content: '07';
  color: rgba(108, 210, 110, 0.3);
}

.history-card-row:nth-child(8) .history-card-column::before {
  content: '08';
  color: rgba(255, 151, 73, 0.3);
}

.history-card-row:nth-child(9) .history-card-column::before {
  content: '09';
  color: rgba(237, 47, 37, 0.3);
}

.history-date,
.history-text {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 400;
}

.history-title {
  margin-top: 4px;
  font-size: 22px;
  font-weight: 500;
}

.history-dot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 4px solid;
  border-radius: 100px;
  background: #fff;
  flex-shrink: 0;

  span {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 100px;
  }
}

.history-card-row:nth-child(1) .history-dot {
  border-color: #f6a0b4;
}
.history-card-row:nth-child(1) .history-dot span {
  background: #f6a0b4;
}

.history-card-row:nth-child(2) .history-dot {
  border-color: #3875ee;
}
.history-card-row:nth-child(2) .history-dot span {
  background: #3875ee;
}

.history-card-row:nth-child(3) .history-dot {
  border-color: #ffd960;
}
.history-card-row:nth-child(3) .history-dot span {
  background: #ffd960;
}

.history-card-row:nth-child(4) .history-dot {
  border-color: #7cbbee;
}
.history-card-row:nth-child(4) .history-dot span {
  background: #7cbbee;
}

.history-card-row:nth-child(5) .history-dot {
  border-color: #ba5e55;
}
.history-card-row:nth-child(5) .history-dot span {
  background: #ba5e55;
}

.history-card-row:nth-child(6) .history-dot {
  border-color: #d76bff;
}
.history-card-row:nth-child(6) .history-dot span {
  background: #d76bff;
}

.history-card-row:nth-child(7) .history-dot {
  border-color: #6cd26e;
}
.history-card-row:nth-child(7) .history-dot span {
  background: #6cd26e;
}

.history-card-row:nth-child(8) .history-dot {
  border-color: #ff9749;
}
.history-card-row:nth-child(8) .history-dot span {
  background: #ff9749;
}

.history-card-row:nth-child(9) .history-dot {
  border-color: #ed2f25;
}
.history-card-row:nth-child(9) .history-dot span {
  background: #ed2f25;
}

.history-space {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 27px;
}

.history-space-img {
  position: absolute;
  top: 50%;
  right: -32px;
  transform: translateY(-50%) rotate(3deg);
  width: 400px;
  border: 2px solid #212121;
  border-radius: 14px;
  z-index: 1;
}

.history-card-row.is-reverse .history-space-img {
  left: -32px;
  transform: translateY(-50%) rotate(-3deg);
}

.history-space-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(10deg);
  width: 87px;
  height: 87px;
}

.history-card-row.is-reverse .history-space-icon {
  right: 30px;
  transform: translateY(-50%) rotate(-10deg);
}

/* voom */
.voom-layer {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.voom-content {
  position: relative;
  display: grid;
  max-width: 1000px;
  margin-top: 90px;
  grid-template-columns: 305fr 165fr 165fr 305fr;
  gap: 20px;
  z-index: 1;
}

.voom-item {
  position: relative;
  padding: 20px;
  border: 3px solid #724320;
  border-radius: 14px;
  background: #fff;
  font-size: 32px;
  font-weight: bold;
  box-shadow: 3px 3px 0 #724320;

  img {
    border-radius: 12px;
  }

  p {
    position: relative;
    width: fit-content;
    margin: 18px auto 0;
    text-align: center;
    font-family: var(--font-en);
    font-size: 20px;
    font-weight: 600;

    &::after {
      content: '';
      position: absolute;
      bottom: 5px;
      left: 0;
      width: 100%;
      height: 20%;
    }
  }
}

.voom-item p.is-blue {
  &::after {
    background: rgba(124, 187, 238, 0.7);
  }
}

.voom-item p.is-red {
  &::after {
    background: rgba(237, 47, 37, 0.3);
  }
}

.voom-item p.is-orange {
  &::after {
    background: rgba(255, 151, 73, 0.7);
  }
}

.voom-item p.is-pink {
  &::after {
    background: rgba(246, 160, 180, 0.7);
  }
}

.voom-item p.is-yellow {
  &::after {
    background: rgba(255, 217, 96, 0.7);
  }
}

.voom-item p.is-brown {
  &::after {
    background: rgba(186, 94, 85, 0.7);
  }
}

/* row1: 305 + 675 */
.voom-item.item1 {
  grid-column: 1;
} /* 列1のみ     = 305px */
.voom-item.item2 {
  grid-column: 2 / 5;
} /* 列2〜4      = 675px */

/* row2: 490 + 490 */
.voom-item.item3 {
  grid-column: 1 / 3;
} /* 列1〜2      = 490px */
.voom-item.item4 {
  grid-column: 3 / 5;
} /* 列3〜4      = 490px */

/* row3: 675 + 305 */
.voom-item.item5 {
  grid-column: 1 / 4;
} /* 列1〜3      = 675px */
.voom-item.item6 {
  grid-column: 4;
} /* 列4のみ     = 305px */

/* row4: 305 + 675 */
.voom-item.item7 {
  grid-column: 1;
} /* 列1のみ     = 305px */
.voom-item.item8 {
  grid-column: 2 / 5;
} /* 列2〜4      = 675px */

.voom-decoration img {
  position: absolute;
}

.voom-decoration img:nth-child(1) {
  top: -170px;
  right: 0;
  width: 208px;
}

.voom-decoration img:nth-child(2) {
  top: 380px;
  left: -184px;
  width: 184px;
}

.voom-decoration img:nth-child(3) {
  bottom: 200px;
  right: -149px;
  width: 149px;
}

/* activity */
.activity-content {
  margin-top: 90px;
}

.activity-items {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.activity-item {
  display: flex;
  align-items: center;
  gap: 96px;
}

/* .activity-left {
} */

.activity-head {
  width: fit-content;
  padding-bottom: 16px;
  border-bottom: 4px solid;
}

.activity-item:nth-child(1) .activity-head {
  border-bottom-color: #ed2d24;
}
.activity-item:nth-child(2) .activity-head {
  border-bottom-color: #f08aa2;
}
.activity-item:nth-child(3) .activity-head {
  border-bottom-color: #6cd26e;
}
.activity-item:nth-child(4) .activity-head {
  border-bottom-color: #0089eb;
}
.activity-item:nth-child(5) .activity-head {
  border-bottom-color: #d76bff;
}
.activity-item:nth-child(6) .activity-head {
  border-bottom-color: #f1873d;
}

.activity-label {
  display: flex;
  gap: 10px;
}

.activity-label span {
  padding: 4px 20px;
  border: 2px solid #212121;
  border-radius: 100px;
  background: #fff;
  font-family: var(--font-en);
  font-weight: 600;
}

/* .activity-title {
} */

.activity-title-main {
  font-family: var(--font-en);
  font-size: 48px;
  font-weight: 600;
}

.activity-title-sub {
  font-family: var(--font-en);
  font-size: 24px;
  font-weight: 600;
}

.activity-text {
  margin-top: 14px;
  font-size: 20px;
}

.activity-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -108px;
  width: 720px;
  height: 430px;
  background: #fff;
  border: 4px solid #212121;
  border-radius: 1000px 0 0 1000px;
  flex-shrink: 0;
  overflow: hidden;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.activity-item.is-reverse .activity-right {
  margin-right: 0;
  margin-left: -108px;
  border-radius: 0 1000px 1000px 0;
}

/* messages */
.messages-content {
  display: flex;
  flex-direction: column;
  gap: 110px;
  margin-top: 90px;
}

.messages-card {
  position: relative;
}

.messages-head {
  position: absolute;
  top: 0;
  left: 20px;
  transform: translateY(-50%);
  width: fit-content;
  font-family: var(--font-en);
  font-size: 24px;
  font-weight: bold;
  padding: 10px 18px;
  border: 2px solid #212121;
  border-radius: 10px;
  background: #fff;
  z-index: 1;
}

.messages-card:nth-of-type(1) .messages-head {
  text-decoration: underline rgba(186, 94, 85, 0.7) 5px;
}

.messages-card:nth-of-type(2) .messages-head {
  text-decoration: underline rgba(108, 210, 110, 0.7) 5px;
}

.messages-card:nth-of-type(1) .is-wave {
  text-decoration: underline wavy rgba(186, 94, 85, 0.7) 2px;
}

.messages-card:nth-of-type(2) .is-wave {
  text-decoration: underline wavy rgba(108, 210, 110, 0.7) 2px;
}

.messages-body {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 62px 76px;
  border: 2px solid #212121;
  border-radius: 14px;
  background: #fff;
  overflow: hidden;
  box-shadow: 3px 3px 0 #212121;

  img {
    position: absolute;
    bottom: -110px;
    right: -60px;
    width: 276px;
    height: 276px;
  }
}

/* footer */
.footer {
  background: #ff9749;
  text-align: center;
  padding: 32px 0;
}

.footer-nav {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 20px;

  a {
    padding: 2px 8px;
    border: 2px solid #212121;
    border-radius: 6px;
    background: #fff;
    font-family: var(--font-en);
    font-size: 14px;
  }
}

.sns {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

/* ─ 新規追加 ─ */
.main {
  height: 100vh;
  overflow: hidden;
}

.content {
  display: flex;
  height: 100vh;
}

/* ─ 既存セクションに追加 ─ */
.about,
.voom,
.activity,
.messages {
  flex-shrink: 0;
  width: 100vw;
  height: 100vh;
  overflow: visible; /* GSAPがy方向に動かすのではみ出しを許可 */
}

.history-line {
  transform-origin: top center;
}

.voom-item {
  opacity: 0;
  transform: translateY(30px);
  transition:
    opacity 0.6s ease,
    transform 0.6s ease;
}

.voom.is-active .voom-item {
  opacity: 1;
  transform: translateY(0);
}
.voom.is-active .voom-item:nth-child(1) {
  transition-delay: 0.05s;
}
.voom.is-active .voom-item:nth-child(2) {
  transition-delay: 0.15s;
}
.voom.is-active .voom-item:nth-child(3) {
  transition-delay: 0.25s;
}
.voom.is-active .voom-item:nth-child(4) {
  transition-delay: 0.35s;
}
.voom.is-active .voom-item:nth-child(5) {
  transition-delay: 0.45s;
}
.voom.is-active .voom-item:nth-child(6) {
  transition-delay: 0.55s;
}
.voom.is-active .voom-item:nth-child(7) {
  transition-delay: 0.65s;
}
.voom.is-active .voom-item:nth-child(8) {
  transition-delay: 0.75s;
}
