:root {
  --font-noto-jp: 'Noto Sans JP', sans-serif;
  --font-readex: 'Readex Pro', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background: #f6f1e7;
  font-family: var(--font-noto-jp);
}

.section {
  padding: 24px 118px;
}

.section-title {
  position: relative;
  width: fit-content;
}

.section-title p {
  position: relative;
  font-family: var(--font-readex);
  width: fit-content;
  background: white;
  font-size: 40px;
  font-weight: 600;
  padding: 14px 28px;
  border: 2px solid #000;
  z-index: 1;
}

.section-title div {
  position: absolute;
  top: 5px;
  left: 7px;
  width: 100%;
  height: 100%;
  background: url(../img/dot.png) center center / cover no-repeat;
  z-index: 0;
}

.profile-centent {
  text-align: center;
  padding: 96px 0 142px;
}

.profile-centent img {
  width: 260px;
  margin: 0 auto;
}

.profile-centent h3 {
  font-size: 36px;
  font-weight: 500;
}

.profile-centent p {
  font-size: 16px;
  font-weight: 500;
}
